<div class="wrapper clearfix">
    <div class="col-1">
      <h1>Shares Statistics</h1>
    </div>
    <div class="col-4">
      <h1>User Behaviour</h1>
    </div>

    <div class="col-1">
      <h1>Most Commment</h1>
    </div>
    <div class="col-2">
      <h1>Most Shared</h1>
    </div>
    <div class="col-3">
      <h1>Messages</h1>
    </div>
</div>