<div class="icon-bar">
  <%= link_to root_path do %><span class="fa fa-home"></span><% end %>
  <%= link_to new_post_path do %><span class="fa fa-pencil-square-o"></span><% end %>
  <a href="#"><i class="fa fa-book"></i></a>
  <%= link_to edit_user_registration_path do %><span class="fa fa-cogs"></span><% end %>
  <a href="#"><i class="fa fa-question"></i></a>
  <%= link_to destroy_user_session_path, :method => :delete do %><span class="fa fa-sign-out"></span><% end %>
</div>